body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

:root {
  --first-color: #000000;
  --second-color: rgb(214, 28, 28);
  --third-color: #fff;
}

/* //header */

#header {
  background-color: var(--first-color);
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#header img {
  width: 150px;
  padding-top: 13px;
  padding-left: 5px;
}

#register {
  width: 90px;
  height: 30px;
  background-color: var(--second-color);
  color: var(--third-color);
  position: absolute;
  right: 2vh;
  top: 2vh;
}
@media screen and (max-width: 768px) {
  #header {
    height: 70px;
    width: 100%;
  }
}

/* //first-section */

#first-section {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}

.info1 {
  width: 420px;
  height: 200px;
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  color: var(--third-color);
}

.info2 {
  height: 40px;
  font-size: 24px;
  line-height: 0.7;

  color: var(--third-color);
}

.info3 {
  height: 40px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.email {
  width: 450px;
  height: 30px;
  background-color: var(--first-color);
  color: var(--third-color);
}

#submit {
  width: 50px;
  height: 40px;
  background-color: var(--second-color);
  color: var(--third-color);
}

@media screen and (max-width: 768px) {
  #first-section {
    width: 100%;
    height: 800px;
  }
  .info1 {
    width: 340px;
    height: 130px;
    font-size: 32px;
  }
  .info2 {
    width: 340px;
    font-size: 18px;
    text-align: center;
  }
  .info3 {
    width: 340px;
    font-size: 14px;
    text-align: center;
  }

  .email {
    width: 230px;
    margin-top: 20px;
  }
}

/* //second-section */

#second-section {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-section-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.second-section-images img {
  height: 340px;
  width: 220px;
  justify-content: center;
  align-items: center;
  margin: 8px;
  transition: all 0.2s linear;
}

#next-movies {
  width: 120px;
  height: 30px;
  background-color: var(--second-color);
  color: var(--third-color);
  margin-top: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #second-section {
    width: 100%;
    height: 1400px;
  }
  .second-section-images {
    flex-direction: column;
  }
  .second-section-images img {
    height: 380px;
    width: 250px;
    padding: 20px;
  }
}

/* //footer */

#footer {
  padding: 4vh 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hovers1,
hovers2 {
  width: 340px;
  height: 180px;
  display: flex;
  flex-direction: row;
}
.hovers2 {
  width: 340px;
  height: 180px;
  display: flex;
  flex-direction: row;
}

.hover-list {
  width: 200px;
}

.hover-list a {
  text-decoration: underline;
  color: var(--third-color);
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #footer {
    width: 100%;
    height: 340px;
    flex-direction: column;
  }

  .hovers1,
  .hovers2 {
    max-width: 400px;
    width: 96vw;
    height: 135px;
    margin-right: 7vh;
  }
}

.hover-list a {
  font-size: 12px;
}

#arrow {
  color: var(--second-color);
  font-size: 40px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  cursor: pointer;
}

/* //registration and other movies*/
#main-page {
  width: 100px;
  height: 30px;
  background-color: var(--second-color);
  color: var(--third-color);
  position: absolute;
  right: 2vh;
  top: 2vh;
}

#registration {
  min-height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registration input {
  width: 400px;
  height: 30px;
  margin: 5px;
  background-color: var(--first-color);
  color: var(--third-color);
}

#send {
  width: 410px;
  height: 30px;
  background-color: var(--second-color);
  color: var(--third-color);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  #registration input {
    width: 280px;
  }
  #registration button {
    width: 290px;
  }
}

#other-movies {
  height: 200px;
  display: flex;
  flex-direction: column;
}

#movie-lists {
  display: flex;
  justify-content: center;
  padding: 40px;
}

#main-page2 {
  width: 100px;
  height: 30px;
  background-color: var(--second-color);
  color: var(--third-color);
}

#menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#menu option {
  background-color: var(--first-color);
  color: var(--third-color);
}

#menu select {
  background-color: var(--first-color);
  color: var(--third-color);
  width: 120px;
  height: 25px;
}

#searchBox {
  border: solid var(--second-color);
  border-radius: 2px;
  outline: none;
}

#results {
  height: 100%;
  text-align: center;
  padding: 0 64px;
}

#results img {
  width: 160px;
  margin: 8px;
  transform: rotate(5deg);
  transition: all 0.2s linear;
}

#results img:hover {
  transform: rotate(0deg) scale(1.04);
}
